@keyframes pulse {
  0% { opacity: 0.7; transform: scale(1); background-color: #4cd164; }
 50% { opacity: 1; transform: scale(1.2); background-color: #28a745; }
100% { opacity: 0.7; transform: scale(1); background-color: #4cd164; }
}

#connected-status.pulsing {
  animation: pulse 1.5s infinite alternate;
}

.centered-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#noContentContainer {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.grid-sizer,
.grid-item,
.grid-item-1 { width: 24%; margin-bottom: 1%; }
.grid-item-2 { width: 49%; }
.grid-item-3 { width: 74%; }
.grid-item-4 { width: 99%; }
.grid-item-5 { width: 99%; }

.gutter-sizer { width: 1%; }

@media screen and (min-width: 768px) {
  .grid-sizer,
  .grid-item,
  .grid-item-1 { width: 18.4%; margin-bottom: 2%; }
  .grid-item-2 { width: 38.8%; }
  .grid-item-3 { width: 59.2%; }
  .grid-item-4 { width: 79.6%; }
  .grid-item-5 { width: 100%; }

  .gutter-sizer { width: 2%; }
}