{{^RFG}}<link rel="icon" href="{{&icon}}"{{#iconType}} type="{{&iconType}}"{{/iconType}}>{{/RFG}}{{!
}}{{#RFG}}<link rel="icon" type="image/png" href="{{&favicon96x96PNG}}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{&faviconSVG}}" />
  <link rel="shortcut icon" href="{{&faviconICO}}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{&faviconAppleTouch}}" />
  <link rel="manifest" href="{{&webmanifest}}" />{{/RFG}}