<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  {{!
    Background shape
      - If rx =  0; square
      - If rx = 45; circle
  }}
  <rect
    x="5" y="5" width="90" height="90"
    rx="{{borderRadius}}"
    fill="{{fillColor}}"
    stroke="{{strokeColor}}"
    stroke-width="{{strokeWidth}}"
  />
  {{!
    Emoji
  }}
  <text
    x="50" y="50"
    font-size="60"
    text-anchor="middle"
    dominant-baseline="central"
    fill="white"
  >
    {{emoji}}

    {{!
      Easter egg animation
        Animations only renders on browsers that support it, so this feature is left as an easter egg
    }}
    {{#easterEgg}}
    <animate
      attributeName="y"
      values="50; 40; 50"
      dur="2s"
      repeatCount="indefinite"
      begin="2s"
      calcMode="spline"
      keySplines="0.4 0 0.2 1; 0.4 0 0.2 1"
    />
    {{/easterEgg}}
  </text>
</svg>