<div class="accordion" id="{{id}}">
  {{#children}}
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button{{^show}} collapsed{{/show}}" type="button" data-bs-toggle="collapse" data-bs-target="#_{{id}}" id="{{_idTitle}}">{{title}}</button>
    </h2>
    <div id="_{{id}}" class="accordion-collapse collapse{{#show}} show{{/show}}" data-title="{{_idTitle}}" {{^alwaysOpen}}data-bs-parent="#{{parentID}}"{{/alwaysOpen}}>
      <div class="accordion-body">{{#beforeText}}{{&beforeText.render}}{{^beforeText.render}}{{&render}}{{/beforeText.render}}{{/beforeText}}{{!
      }}{{&text}}{{!
      }}{{^text}}{{&render}}{{/text}}{{!
      }}{{#afterText}}{{&afterText.render}}{{^afterText.render}}{{&render}}{{/afterText.render}}{{/afterText}}{{!
      }}</div>
    </div>
  </div>
  {{/children}}
</div>