<div class="card-body" id="{{id}}">
  {{#title}}<h5 class="card-title">{{&title}}</h5>{{/title}}
  {{#text}}<p class="card-text">{{#beforeText}}{{&beforeText.render}}{{^beforeText.render}}{{&render}}{{/beforeText.render}}{{/beforeText}}{{!
}}{{&text}}{{!
}}{{#afterText}}{{&afterText.render}}{{^afterText.render}}{{&render}}{{/afterText.render}}{{/afterText}}</p>{{/text}}
  {{#children}}{{&children.render}}{{^children.render}}{{&render}}{{/children.render}}
  {{/children}}{{!
}}{{#subtext}}<p class="card-text"><small class="text-body-secondary">{{&subtext}}</small></p>{{/subtext}}
</div>