<div class="grid-item {{#size}}grid-item-{{size}}{{/size}}">
  <div class="card{{#style.color}} text-bg-{{style.color}}{{/style.color}}" data-header-title="{{headerTitle}}" data-small-footer="{{footerSubtext}}" id="{{id}}">
  {{#header}}<{{^headerTitle}}div{{/headerTitle}}{{#headerTitle}}h4{{/headerTitle}}{{!
}} class="card-header">{{&header}}</{{^headerTitle}}div{{/headerTitle}}{{#headerTitle}}h4{{/headerTitle}}{{/header}}{{!
  }}{{#imgTop}}<img class="card-img-top" src="{{imgTop}}">{{/imgTop}}
    {{#children}}{{#children.render}}{{!
    
    single component
  }}{{^children._wrapBody}}{{&children.render}}{{/children.wrapBody}}{{!
  }}{{#children._wrapBody}}<div class="card-body">{{&children.render}}</div>{{/children.wrapBody}}{{/children.render}}{{!

    multiple components
  }}{{^children.render}}{{!
  }}{{^_wrapBody}}{{&render}}{{/_wrapBody}}{{!
  }}{{#_wrapBody}}<div class="card-body">{{&render}}</div>{{/_wrapBody}}{{/children.render}}
    {{/children}}{{!

  }}{{#imgBottom}}<img class="card-img-bottom" src="{{imgBottom}}">{{/imgBottom}}
    {{#footer}}<div class="card-footer">{{!
  }}{{^footerSubtext}}{{&footer}}{{/footerSubtext}}{{!
  }}{{#footerSubtext}}<small class="text-body-secondary">{{&footer}}</small>{{/footerSubtext}}{{!
  }}</div>{{/footer}}
  </div>
</div>