<div class="grid-item {{#size}}grid-item-{{size}}{{/size}}">
  <div class="card{{#style.color}} text-bg-{{style.color}}{{/style.color}}" id="{{id}}">
  {{^headerTitle}}<div class="card-header{{^header}} invisible{{/header}}">{{&header}}</div>{{/headerTitle}}{{!
}}{{#headerTitle}}<h4 class="card-header{{^header}} invisible{{/header}}">{{&header}}</h4>{{/headerTitle}}
    <img class="card-img-top{{^imgTop}} invisible{{/imgTop}}" src="{{imgTop}}">
    {{#children}}{{#children.render}}{{!
    
    single component
  }}{{^children._wrapBody}}{{&children.render}}{{/children.wrapBody}}{{!
  }}{{#children._wrapBody}}<div class="card-body">{{&children.render}}</div>{{/children.wrapBody}}{{/children.render}}{{!

    multiple components
  }}{{^children.render}}{{!
  }}{{^_wrapBody}}{{&render}}{{/_wrapBody}}{{!
  }}{{#_wrapBody}}<div class="card-body">{{&render}}</div>{{/_wrapBody}}{{/children.render}}
    {{/children}}{{!

  }}<img class="card-img-bottom{{^imgBottom}} invisible{{/imgBottom}}" src="{{imgBottom}}">
    <div class="card-footer{{^footer}} invisible{{/footer}}">{{!
  }}{{^footerSubtext}}{{&footer}}{{/footerSubtext}}{{!
  }}{{#footerSubtext}}<small class="text-body-secondary">{{&footer}}</small>{{/footerSubtext}}{{!
  }}</div>
  </div>
</div>