<div class="grid-item {{#size}}grid-item-{{size}}{{/size}}">
  <div class="card">
    {{#title}}
    <div class="card-header">
      <strong>{{title}}</strong>
    </div>
    {{/title}}
    <ul class="list-group list-group-flush">
      {{#items}}
      {{#render}}{{&render}}{{/render}}
      {{^render}}<li class="list-group-item">{{&.}}</li>{{/render}}
      {{/items}}
    </ul>
    {{#footer}}
    <div class="card-footer">
      <strong>{{footer}}</strong>
    </div>
    {{/footer}}
  </div>
</div>