h2 {
  margin-top: 1.5em;
  margin-bottom: 0.2em;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.1em;
  font-size: 0.9em;
  text-transform: uppercase;
  color: var(--md-typeset-color);
  opacity: 0.7;
}

h3 + pre, h3 + p {
  margin-top: 0px !important;
}

.md-typeset p:has(+ dd) {
  margin-bottom: 0.1rem;
  font-weight: 600;
}

.md-typeset dd {
  margin-top: 0rem;
  margin-bottom: 0.3rem;
}

.md-typeset dd p {
  margin-bottom: 0px;
}