{{! This file is formatted to reduce the number of whitespaces once it has been rendered.
}}<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'>{{!
  }}<{{#rect}}rect x='2' y='2' width='16' height='16'{{/rect}}{{!           rect
  }}{{#circle}}circle cx='50%' cy='50%' r='50%'{{/circle}}{{!       circle
  }}{{#insideColor}} fill='{{insideColor}}'{{/insideColor}}{{!      insideColor
  }}{{#outsideColor}} stroke-width='1' stroke='{{outsideColor}}'{{/outsideColor}}{{! outsideColor
  }}{{#rounded}} rx='5'{{/rounded}}{{!                              rounded
  }}{{#easterEgg}}>{{!
}}{{#rect}}</rect>{{/rect}}{{#circle}}</circle>{{/circle}}{{/easterEgg}}{{^easterEgg}}/>{{/easterEgg}}{{!
  }}<text x='{{emojiOffset}}{{^emojiOffset}}-1{{/emojiOffset}}' y='15.5'>{{emoji}}{{!                             emoji
  }}{{#easterEgg}}<animate id='a' attributeName='y' values='15.5;14;15.5' dur='1s' begin='1s;a.end+3s'/>{{/easterEgg}}</text>{{! easterEgg Anim2
}}</svg>